In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [51]:
data = pd.read_csv('/content/nasa93dem.csv')

In [52]:
symCols = [col for col in data.columns if col.strip()[0].islower() and data[col].dtypes == 'O']

In [53]:
data.head()

,idX,centerX,YearX,prec,flex,resl,team,pmat,rely,data,...,apex,plex,ltex,tool,site,sced,Kloc+,Effort-,Defects-,Months-
0,1,2,1979,h,h,h,vh,h,h,l,...,n,n,h,n,n,l,25.9,117.6,808,15.3
1,2,2,1979,h,h,h,vh,h,h,l,...,n,n,h,n,n,l,24.6,117.6,767,15.0
2,3,2,1979,h,h,h,vh,h,h,l,...,n,n,h,n,n,l,7.7,31.2,240,10.1
3,4,2,1979,h,h,h,vh,h,h,l,...,n,n,h,n,n,l,8.2,36.0,256,10.4
4,5,2,1979,h,h,h,vh,h,h,l,...,n,n,h,n,n,l,9.7,25.2,302,11.0

In [54]:
le = LabelEncoder()
for sym in symCols:
  tempCol = le.fit_transform(data[sym])
  data[sym] = tempCol.copy()

In [55]:
data.head()

,idX,centerX,YearX,prec,flex,resl,team,pmat,rely,data,...,apex,plex,ltex,tool,site,sced,Kloc+,Effort-,Defects-,Months-
0,1,2,1979,0,0,0,0,0,0,1,...,2,2,0,1,0,0,25.9,117.6,808,15.3
1,2,2,1979,0,0,0,0,0,0,1,...,2,2,0,1,0,0,24.6,117.6,767,15.0
2,3,2,1979,0,0,0,0,0,0,1,...,2,2,0,1,0,0,7.7,31.2,240,10.1
3,4,2,1979,0,0,0,0,0,0,1,...,2,2,0,1,0,0,8.2,36.0,256,10.4
4,5,2,1979,0,0,0,0,0,0,1,...,2,2,0,1,0,0,9.7,25.2,302,11.0

In [56]:
print(symCols)

['prec', 'flex', 'resl', 'team', 'pmat', 'rely', 'data', 'cplx', 'ruse', 'docu', 'time', 'stor', 'pvol', 'acap', 'pcap', 'pcon', 'apex', 'plex', 'ltex', 'tool', 'site', 'sced']

In [57]:
data.to_csv('/content/nasa93dem_mod.csv', index=False)